.name{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.userimage{
    width: 150px;
}