.skills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.skillsheading{
    text-align: center;
    background-color: #021C41;
    color: white;
    width: 100%;
    padding: 10px;
}
.skillsheading p{
    padding: 0 !important;
    margin: 0 !important;
}